h1>Change your password below</h1>
<%= form_for current_user do |f| %>
	
	<%= render partial: 'errors' %>

	<div>
		<%= f.label :current_password %>
		<%= f.password_field  :current_password %>
	</div>

	<%= render partial: 'password', locals: {f: f} %>

	<%= f.submit "change password" %>

<% end %>